div(ng-init="getAuthorsAndPublishers()")
  table
    tr
      td
        b Title:
      td
        input(type="text", ng-model="book.title")
    tr
      td
        b Author:
      td
        select(name="authors", id="author", ng-model="book.author.id")
          option(ng-repeat="author in allAuthors", value="{{author.id}}" )
            {{author.name + ' - ' + author.id }}
    tr
      td
        b Publisher:
      td
        select(name="publishers", id="publisher", ng-model="book.publisher.id")
          option(ng-repeat="publisher in allPublishers", value="{{publisher.id}}" )
            {{publisher.name + ' - ' + publisher.id }}
    tr
      td
        input(type="button", ng-click="submitBook()", value="Save")