div(ng-controller="AddBookController", ng-init="getAllAuthors()")
  table
    tr
      td
        b Title:
      td
        input(type="text", ng-model="book.title")
    tr
      td
        b Author:
      td
        //select(name="authors", id="author", ng-model="book.author.id", ng-options="author.name + ' - ' + author.id for author in allAuthors")
        select(name="authors", id="author", ng-model="book.author.id")
          option(ng-repeat="author in allAuthors", value="{{author.id}}" )
            {{author.name + ' - ' + author.id }}
    tr
      td
        b Publisher:
      td
        input(type="text", ng-model="book.publisher.name")
    tr
      td
        input(type="button", ng-click="submitBook()", value="Save")