doctype 5
html(ng-app="bookCatalogApp")
  head
    title Book Catalog
    script(src = "js/angular.min.js", type="text/javascript")
    script(src = "js/angular-resource.min.js", type="text/javascript")
    script(src = "js/angular-route.min.js", type="text/javascript")
    script(src = "js/app.js", type="text/javascript")

    script(src = "js/routes/routes.js", type="text/javascript")

    script(src = "js/services/bookService.js", type="text/javascript")
    script(src = "js/services/authorService.js", type="text/javascript")
    script(src = "js/services/publisherService.js", type="text/javascript")

    script(src = "js/controllers/addBookController.js", type="text/javascript")
  body
      a(href="#/add_book") Add Book Template
      div(ng-view)